<html>
  <head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  </head>
  <body class="bg-dark">
    {{ range .AllData }}
    {{ if .Servers }}
    <h3><span class="badge text-bg-danger">env :: {{ .Namespace }}</span></h3>
    <table class="table table-dark table-bordered caption-top">
    <tr>
      <th scope="col">Name</th>
      <th>Type</th>
      <th>IP</th>
      <th>OS</th>
      <th>DC</th>
      {{/* <th>Volumes</th> */}}
      <th>ordered_by</th>
      <th>created_by</th>
      <th>Ticket No</th>
      <th>Needed Until</th>
    </tr>
      {{ range .Servers }}
        <tr>
          <td>{{ .Name }}</td>
          <td>{{ .ServerType.Name }}</td>
          <td>{{ .PublicNet.IPv4.IP }}</td>
          <td>{{ .Image.Name }}</td>
          <td>{{ .Datacenter.Location.Name }}</td>
          <!--<td>TO IMPLEMENT</td>-->
          {{ if .Labels.ordered_by }}<td>{{ .Labels.ordered_by }}{{ else }}<td class="text-bg-danger">MISSING{{ end }}</td>
          {{ if .Labels.created_by }}<td>{{ .Labels.created_by }}{{ else }}<td class="text-bg-danger">MISSING{{ end }}</td>
          {{ if .Labels.ticket }}<td>{{ .Labels.ticket }}{{ else }}<td class="text-bg-danger">MISSING{{ end }}</td>
          {{ if .Labels.needed_until }}
            {{ if .Labels.needed_until eq "indef" }}
              <td class="table-bg-success">permenent  
            {{ else }}
              <td>{{ .Labels.needed_until }}
            {{ end }}
          {{ else }}
              <td class="text-bg-danger">MISSING
          {{ end }}
          </td>
        </tr>
      {{ end }}
    {{ end }}
    </table>
    {{end}}
  <body>
</html>