<html>
  <head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  </head>
  <body class="bg-dark">
    {{ range .AllData }}
    <h1 class="bg-dark text-light">{{ .Namespace }}</h1>
    <table class="table table-dark table-striped table-hover table-bordered caption-top">
    <tr>
      <th scope="col">Name</th>
      <th>IP</th>
      <th>ordered_by</th>
      <th>created_by</th>
      <th>Ticket No</th>
      <th>Needed Until</th>
    </tr>
      {{ range .Servers }}
        <tr>
          <td>{{ .Name }}</td>
          <td>{{ .PublicNet.IPv4.IP }}</td>
          <td>{{ .Labels.ordered_by }}</td>
          <td>{{ .Labels.created_by }}</td>
          <td>{{ .Labels.ticket }}</td>
          <td>{{ .Labels.needed_until }}</td>
        </tr>
      {{ end }}
    {{ end }}
    </table>
  <body>
</html>